

.floatRight{
  padding-left: 750px;
  margin: 30px;
}

.has-error{
	color:red;
}


.success{
  position:fiexd;
  width:50%;
  margin-left: 50px;
  margin-top:20px;
  padding: 20px;
  background-color: #E8E1E1;
  border: 1px solid #ddd;
  border-radius: 4px;
}